html{
	font-family: helvetica;
	font-size: 22px;
	color: seashell;
	opacity: 0.9;
	background-color: #000;	
}

#header{
	width: 100%;
	height: 69px;
	position: fixed;
	border-bottom: 1px solid seashell;
}

.logo-item img{
	margin-left: 10px;
	height: 50px;
}

.nav-menu ul{
	display: inline-flex;
	position: relative;
	bottom: 60px;
	left: 1250px;
}

.nav-menu li{
	margin: 0 5px 0 20px;
	list-style: none;
}

.nav-menu a{
	text-decoration: underline;
	color: seashell;
}

#mission{
	display: flex;
	justify-content: center;
	border: 1px solid seashell;
	position: relative;
	top: 69px;
}

.mission-content{
	padding: 0 100px;
	background-color: black;
}

.mission-content h2{
	text-align: center;
}